---
import { NAV_ITEMS, SOCIAL_MEDIA_ITEMS } from 'src/config';

const { url } = Astro;
const { pathname } = url;
---

<nav id="nav">
  <ul class="links">
    {
      NAV_ITEMS.map((item) => {
        return (
          <li class={pathname === item.path ? 'active' : ''}>
            <a href={item.path}>{item.title}</a>
          </li>
        );
      })
    }
  </ul>
  <ul class="icons">
    {
      SOCIAL_MEDIA_ITEMS.map((item) => {
        return (
          <li>
            <a href={item.path} class={`icon brands ${item.iconClass}"`}>
              <span class="label">{item.title}</span>
            </a>
          </li>
        );
      })
    }
    <li>
      <a href="#" class="icon brands fa-discord"><span class="label">Discord</span></a>
    </li>
    <li>
      <a href="#" class="icon brands fa-github"><span class="label">Github</span></a>
    </li>
    <li>
      <a href="#" class="icon brands fa-robot"><span class="label">Get Started!</span></a>
    </li>
  </ul>
</nav>
